<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>完了</title>
  </head>
  <body>
    <h1>完了</h1>
    <p>登録が完了しました。</p>
    <a href = "/login" class = "btn">戻る</a>
  </body>
</html>
